.currencies
  padding: .8rem * .7rem

  &__container
    box: space-between

  &__link
    text: $text-caps
    text-decoration: none
    box: wrap

  &__name
    border-bottom: 1px dashed $pseudo-neutral-400
    margin-right: .4rem

  &__trand
    text: $status-positive

    &--down
      text: $status-negative

  &__price
    text: $pseudo-neutral-400
    width: 100%