-
  var currencies = [
    {
      name: "BTC",
      trand: "0.03%",
      price: "6315.99"
    },
    {
      name: "Eth",
      trand: "0.22%",
      price: "196.11"
    },
    {
      name: "Ltc",
      trand: "0.99%",
      price: "49.19"
    },
    {
      name: "Eos",
      trand: "0.19%",
      price: "5.16"
    },
    {
      name: "Xrp",
      trand: "−0.61%",
      price: "0.4457",
      down: true
    },
    {
      name: "Ada",
      trand: "2.31%",
      price: "0.07145"
    },
    {
      name: "Neo",
      trand: "−0.45%",
      price: "15.51",
      down: true
    },
    {
      name: "TRX",
      trand: "0.67%",
      price: "0.02241"
    },
  ]

  var nav = [
    {
      name: "News",
      childs: [
        {
          name: "News1",
        }
      ]
    },
    {
      name: "Stories",
      childs: [
        {
          name: "Stories1",
        }
      ]
    },
    {
      name: "Interviews",
    },
    {
      name: "Market analysis",
      childs: [
        {
          name: "Market analysis1",
        }
      ]
    },
    {
      name: "Guides",
      childs: [
        {
          name: "Guides1",
        }
      ]
    },
    {
      name: "Events",
    }
  ]

  var hots = ["A Day and Night Difference or Nothing Special? Ethereum Futures Are Coming Soon", "Google’s Amir Sarhangi Joins Ripple", "HitBTC, OKEx, Binance and Huobi Lead in Trading Pair Stakes", "Where Is Bitcoin Going in the Near Future? Experts Weigh In", "Interest in Cryptocurrency Leaders Drops: New Players Likely on the Rise"]

  var tags = ["#Tag", "#Bitcoin", "#Processor", "#AMD", "#CryptoSummit", "#MaltaBlockchainSummit"]

  var events = ["World CryptoCon", "Malta Blockchain Summit"]