include ../inc/var.pug
include ../inc/mixins.pug
doctype html
html(lang="en" dir="ltr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    block title
      title Home | u.today
    block head
      link(href="styles/libs.min.css" rel="stylesheet")
      link(href="https://fonts.googleapis.com/css?family=Montserrat:500,600" rel="stylesheet")
      link(href="styles/main.css" rel="stylesheet")

  body
    .adv-top

    include ../blocks/currencies.pug

    .page-container.container
      include ../inc/header.pug

      .content-container
        block content
        block aside

      include ../inc/footer.pug

    block foot
      script(type="text/javascript" src="scripts/libs.min.js")
      script(type="text/javascript" src="scripts/main.js")