.adv

  &-top
    height: 64px
    background: $pseudo-neutral-900

  &-aside
    padding-top: 79%
    background: $pseudo-neutral-900

  &-article
    height: 96px
    margin: 3rem *
    background: $pseudo-neutral-900