.adv

  &-top
    height: 64px
    background: $pseudo-neutral-900

  &-aside
    padding-top: 79%
    background: $pseudo-neutral-900

  &-article
    padding-top: 13.0434783%
    margin: 2.4rem * @xl 3rem *
    margin: @sm-down * -1rem
    background: $pseudo-neutral-900