.search-enter-active, .search-leave-active
  transition: opacity .1s ease-in-out

.search-enter, .search-leave-to
  opacity: 0

.fade-enter-active, .fade-leave-active
  transition: opacity .3s ease-in-out

.fade-enter, .fade-leave-to
  opacity: 0

transition
  display: none