.card
  border: $border
  border-radius: 2px
  padding: 1.4rem 2rem 2rem
  margin-bottom: 2rem
  overflow: hidden

  &--no-padding
    padding: 0

  &__title
    text: $header-tiny
    margin-bottom: 1.7rem
    cursor: default

  &__footer
    margin-top: 1.4rem
