.rating
  box: center

  &--tiny
    ^&__value
      text: $header-tiny

  &--positive
    ^&__value
      text: $status-positive

  &--negative
    ^&__value
      text: $status-negative

  &__value
    text: $header-small
    text: $pseudo-neutral-200
    margin: * .4rem