.rating
  box: center

  &--tiny
    ^&__value
      text: $header-super-tiny @xl $header-tiny

  &--positive
    ^&__value
      text: $status-positive !important

  &--negative
    ^&__value
      text: $status-negative !important

  &__value
    text: $header-small
    margin: * .4rem