.something
  box: center middle
  background: #032e60

  &--top
    height: 56px @md 48px @xl 64px
    position: relative
    z-index: 996

  &--aside

  &--content
    margin: 1.6rem -1rem @sm 2rem 0 @md 2.4rem 0 @xl 3rem 0

  &--wide
    margin-bottom: 1rem @xl 2rem
    margin: @sm-down * -1rem

  &__wrapper
    margin-bottom: 1rem @xl 1.5rem
    border-bottom: $border