main.main-block
  .article
    .article__info
      a.article__category(href="#!") ⭐ Featured
      a.article__author(href="#!")
        img.article__author-img(src="https://dummyimage.com/24x24/d8dbde/aaa")
        | Konstantin Konstanovich
      time.article__date Oct 31, 11:25AM (updated)

    h1.article__title Women of Crypto at the Crypto Invest Summit: Separate but Hopeful
      span.article__title-mark 🔥 Hot

    p.article__mark Crypto events are beginning to invite more women speakers, but tend to feature them in separate Women in Crypto panels

    .article__panel
      .article__views 123.5k views
      a.article__comments(href="#!") 256 comments
      button.article__bookmark.btn--light Add to bookmarks

    img.article__img(src="https://dummyimage.com/736x464/d8dbde/aaa")