.category-info
  .category-info__body
    .category-info__title #Hashtag or 🌎 Category
    .category-info__desc Some short description - recommended, but optional. Crypto space is all about ideas so find here thought-provoking pinions, experts blogs. When it comes to company assets, intangible ones are dynamic and fluid, and are becoming
    button.btn.btn--arrow-down-before.btn--pseudo.category-info__btn Show more

  .category-info__img-wrapper
    img.category-info__img(src="https://dummyimage.com/224x152/d8dbde/aaa")