extends layouts/layout.pug

block title
  title Main | u.today

block content
  include blocks/breaking.pug

  .main-container
    .top-story-block
      include blocks/top-story.pug

    .news-block
      include blocks/news.pug

  include blocks/news-featured.pug

  a.something.something--wide(href="#!")
    img(src="img/something/wide.png" alt="something-wide")

  .main-aside-container
    .main-news-block
      include blocks/news-category.pug

      +newsCategory(newsCategoryOpinions)
      +newsCategory(newsCategoryInterviews)

      .something__wrapper
        a.something.something--content(href="#!")
          img(src="img/something/content.png" alt="something-content")

      +newsCategory(newsCategoryPress)

      include blocks/news-feed.pug

      include blocks/news-categories.pug

    .aside-news-block
      include blocks/crypto-tweets.pug
      include blocks/aside.pug