extends layouts/layout.pug

block title
  title Main | u.today

block content
  include blocks/breaking.pug

  .main-container
    .top-story-block
      include blocks/top-story.pug

    .news-block
      include blocks/news.pug

  include blocks/news-featured.pug

  .something-wide

  .main-aside-container
    .main-news-block
      include blocks/news-category.pug

      +newsCategory(newsCategoryOpinions)
      +newsCategory(newsCategoryInterviews)

      .something-news-category-wrapper
        .something-news-category

      +newsCategory(newsCategoryPress)

      include blocks/news-feed.pug

      include blocks/news-categories.pug

    .aside-news-block
      include blocks/crypto-tweets.pug
      include blocks/aside.pug