extends layouts/layout.pug

block title
  title Submit event | u.today

block content
  .content-container
    main.main-block
      h1 Submit new event / Advertise
      p Intro text. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

      p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.

      p Advantages of premium version:

      ul.list-check
        li Featured listing
        li 1 article
        li Custom image
        li Contacts
        li Do follow link
        li Full description + agenda + speakers list
        li Press release and post release
        li Buy ticket link

      p Premium submission price: $1000. Our partners get a significant discount. To become a partner, please contact: <a href="mailto:partners@u.today">partners@u.today</a>

      h2 Get in touch:

      form.submit-event__form(action="#" method="get")
        .input__row
          .input
            label.input__label(for="name") Name
            input#name.input__elem(type="text" name="name" placeholder="John Doe" required)

          .input
            label.input__label(for="contact") Contact info
            input#contact.input__elem(type="text" name="email" placeholder="Your phone number or email" required)

        button.btn.btn--input.btn--accent.btn--disabled(type="submit") Contact me

      p Or you can just send us an email: <a href="mailto:events@u.today">events@u.today</a>