extends layouts/layout.pug

block title
  title Category simple | u.today

block content
  .main-aside-container
    .main-category-block
      include blocks/category-info.pug
      include blocks/category-item.pug
      include blocks/category-item.pug
      include blocks/category-item.pug
      include blocks/category-item.pug

      a.btn.btn--block.btn--large(href="#!") Show more

    .aside-category-block
      include blocks/aside.pug