section.news
  .news__header
    .news__title ☕ Nov 5, Monday News
    a.btn.btn--arrow-right.hide-xl-down(href="#!") See all

  ul.news__list
    //- each item in 
    //-   li


  a.btn.btn--arrow-right.hide-xl-only(href="#!") See all